<main id="app-main">
  <div class="container has-text-centered">
    <h1 class="is-size-1">Current Temps:</h1>
    <%- current_readings.each do |reading| -%>
      <div>
        <h2 class="is-size-2">
          <%= reading.description %>
        </h2>
        <p>aka <%= reading.name %></p>
        <p>
          <%= reading.temperature %>°F <%= reading.minutes_ago %> minutes ago
        </p>
      </div>
    <%- end -%>
  </div>
</main>