[Unit]
Description=Temperature viewing application

[Service]
WorkingDirectory=/usr/local/rust-sensor
Environment=DB_URL=postgres://postgres:password@host:port/db
Environment=WEB_PORT=4000
ExecStart=/usr/local/rust-sensor/rust-sensor
ProtectSystem=strict
ProtectHome=true
PrivateUsers=true
PrivateTmp=true
DynamicUser=yes

[Install]
WantedBy=multi-user.target