{% extends "layout.j2" %}
{% block title %}
Tembos
{% endblock title %}

{% block content %}
<main id="app-main">
  <div class="container has-text-centered">
    <h1 class="is-size-1">Current Readings:</h1>
    {% for reading in current_readings %}
      <div>
        <h2 class="is-size-2">
          {{reading.description}}
        </h2>
        <p>aka {{reading.name}}</p>
        <p>
          {{reading.reading_value}}{{reading.reading_type_label}} {{reading.minutes_ago}} minutes ago
        </p>
      </div>
    {% endfor %}
    {% if current_readings | length == 0 %}
      <p>No readings in the last 24 hours</p>
    {% endif %}
  </div>
</main>
{% endblock content %}
