{% extends "layout.j2" %}
{% block title %}
Tembos
{% endblock title %}

{% block content %}
<main>
  <canvas id="units-canvas"></canvas>
  <canvas id="main-canvas"></canvas>
</main>
<footer id="app-footer"></footer>
<script type="module" crossorigin src="/static/{{ href_for(filename="index.js") }}"></script>
{% endblock content %}
