{% extends "layout.j2" %}
{% block title %}
Tembos
{% endblock title %}

{% block content %}
<main>
  <canvas id="units-canvas"></canvas>
  <canvas id="main-canvas"></canvas>
</main>
<footer>
  <div>
    <p>Sensor 1: <strong>69</strong> Sensor 2: <strong>72</strong> Sensor 3: <strong>66</strong></p>
  </div>
</footer>
<script type="module" crossorigin src="/static/{{ href_for(filename="index.js") }}"></script>
{% endblock content %}
