<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>{% block title %}{% endblock title %}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" href="data:;base64,=">
  <link rel="stylesheet" href="/static/{{ href_for(filename="index.css") }}">
  <script>
    const burgerId = 'burger';
    const mainNavId = 'mainNavbar';
    const navDropdownId = 'nav-dropdown';

    const unregisterHandleCancel = () => {
      document.removeEventListener('click', handleCancelMenu);
    };

    const handleCancelMenu = (ev) => {
      if (ev.defaultPrevented) {
        return;
      }

      const burgerElement = document.getElementById(burgerId);
      const mainNav = document.getElementById(mainNavId);
      burgerElement.classList.remove("is-active");
      mainNav.classList.remove("is-active");
      unregisterHandleCancel();
    };

    document.addEventListener('DOMContentLoaded', (_e) => {
      const burgerElement = document.getElementById(burgerId);
      const dropdown = document.getElementById("nav-dropdown");
      let enabled = false;
      burgerElement.addEventListener('click', (ev) => {
        ev.preventDefault();
        const target = document.getElementById(mainNavId);
        target.classList.add('is-active');
        burgerElement.classList.add('is-active');
        document.addEventListener('click', handleCancelMenu);
      });

      window.addEventListener('hashchange', async () => {
        burgerElement.classList.remove("is-active");
        dropdown.classList.remove("is-active");
      });
    });

  </script>
</head>

<body>
  <nav id="app-nav" class="navbar is-link" role="navigation">
    <div class="navbar-brand">
      <div id="history-search" class="navbar-item" style="display: none">
        <input id="date-input" class="input" type="date" />
        <button id="search-button" class="button is-primary">Search</button>
      </div>
      <div id="readingTypeSelect" class="navbar-item" style="display: none">
        <select class="select" value="1" id="selel">
          <option value="1">Temperature</option>
          <option value="2">Humidity</option>
          <option value="3">Luminance</option>
        </select>
      </div>
      <a id="burger" role="button" class="navbar-burger" aria-label="menu" aria-expanded="false"
        data-target="mainNavbar">
        <span class="burger-segment" aria-hidden="true"></span>
        <span class="burger-segment" aria-hidden="true"></span>
        <span class="burger-segment" aria-hidden="true"></span>
      </a>
    </div>
    <div id="mainNavbar" class="navbar-menu">
      <div class="navbar-start">
        <a class="navbar-item" href="/">Now</a>
        <div class="navbar-item has-dropdown is-hoverable">
          <a class="navbar-link">Graph</a>
          <div id="nav-dropdown" class="navbar-dropdown">
            <a class="navbar-item" href="/graph#hour">Hour</a>
            <a class="navbar-item" href="/graph#day">Day</a>
            <a class="navbar-item" href="/graph#week">Week</a>
            <a class="navbar-item" href="/graph#month">Month</a>
          </div>
        </div>
        <a class="navbar-item" href="/graph#history">History</a>
      </div>
    </div>
  </nav>
  {% block content %}{% endblock content %}
</body>

</html>
